# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Large/raw data
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db

# Model cache/logs
*.log